div.pos-f-t{
    position: relative;
    width: 100%;

}

div.Page-name{
    padding-right: 650px;
}

div.selfIntro{
    margin-top: 100px;
    text-align: center;

}

div.serviceInfo{
    margin-top: 100px;
    text-align: center;

}